{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2 class="tickets-title">LEC ReportingLogin</h2>
    
    {% if messages %}
        {% for message in messages %}
            <div class="summary {% if message.tags == 'error' %}success-summary{% else %}info-summary{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        <div>
            <label>Username</label>
            <input type="text" name="username" required placeholder=" ">
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit" class="primary-btn">Login</button>
    </form>
    
</div>
{% endblock %}
