{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>View Progress</h2>
    
    <form method="GET">
        {% csrf_token %}
        <input type="text" name="token" placeholder="Enter ticket here" value="{{ request.GET.token }}">
        <button class="lec-button" type="submit">VIEW</button>
    </form>
    
    {% if ticket %}
        <div class="summary">
            <strong>#{{ ticket.token }}</strong>
        </div>
        <a href="{% url 'track_ticket' ticket.token %}" class="lec-button">View Details</a>
    {% elif token_error %}
        <div class="summary priority-high">
            <strong>"{{ request.GET.token }}"</strong> Invalid token
        </div>
        <a href="{% url 'home' %}" class="lec-button">Back to Home</a>
    {% endif %}
</div>
{% endblock %}
