{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2 class="tickets-title">My Ticket {{ profile.full_name }} ({{ profile.branch }})</h2>
    
    {% if messages %}
        {% for message in messages %}
            <div class="summary success-summary">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
    {% if tickets %}
        {% for ticket in tickets %}
            <div class="ticket-item">
                <div class="ticket-header">
                    <h5>#{{ ticket.token }}</h5>
                </div>
                <div class="ticket-body">
                    <h6>{{ ticket.status|title }}</h6>
                    <p>{{ ticket.description|truncatewords:20 }}</p>
                    
                    <div class="ticket-badges">
                        <span class="badge bg-danger">
                            {% if ticket.ai_classification %}
                                {{ ticket.ai_classification|title }}
                            {% else %}
                                Not Classified
                            {% endif %}
                        </span>
                        <span class="badge bg-warning text-dark">
                            {% if ticket.severity %}
                                {{ ticket.severity|upper }}
                            {% else %}
                                Pending
                            {% endif %}
                        </span>
                    </div>
                    
                    <p class="ticket-date">
                        Ticket created: {{ ticket.created_at|date:"M d, Y H:i" }}
                    </p>
                    <a href="/track/{{ ticket.token }}/" class="lec-button">Track Details</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="summary info-summary">
            <h4>No tickets yet!</h4>
            <p>No time to waste. Report here!! <a href="/report/">Report </a></p>
        </div>
    {% endif %}
    
    <div class="action-buttons">
        <a href="{% url 'dashboard' %}" class="lec-button secondary-btn">Back </a>
        <a href="/report/" class="lec-button">Report New Problem</a>
    </div>
</div>
{% endblock %}
